<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972975460250-m8r1nshe9aagh967r03c715tjaqtn0kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972975460250-m8r1nshe9aagh967r03c715tjaqtn0kt</string>
	<key>API_KEY</key>
	<string>AIzaSyB5zjcpsJJPDaAsT9GgKTqG1U9Kb-Xn2OI</string>
	<key>GCM_SENDER_ID</key>
	<string>972975460250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Peter.Firebase101</string>
	<key>PROJECT_ID</key>
	<string>fir-101-91535</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-101-91535.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972975460250:ios:e93c1118577563978a3423</string>
</dict>
</plist>